@import "tailwindcss";

@theme {
  --color-gastro-wine-main: #5A1617;
  --color-gastro-wine-sec: #7A2424;
  --color-gastro-gold-main: #D89600;
  --color-gastro-gold-light: #E4A622;
  --color-gastro-text-main: #3B1D1A;
  --color-gastro-text-sec: #7B5A4A;
  --color-gastro-bg-main: #FFF7EA;
  --color-gastro-bg-card: #FFF1D8;
  --color-gastro-white-warm: #FFFBF3;

  --font-sans: var(--font-manrope), sans-serif;
}

:root {
  --background: var(--color-gastro-bg-main);
  --foreground: var(--color-gastro-text-main);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
  overflow-x: hidden;
}
