@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import "tailwindcss";

@theme {
  --color-gastro-wine-main: #5a1617;
  --color-gastro-wine-sec: #7a2424;
  --color-gastro-gold-main: #d89600;
  --color-gastro-gold-light: #e4a622;
  --color-gastro-text-main: #3b1d1a;
  --color-gastro-text-sec: #7b5a4a;
  --color-gastro-bg-main: #fff7ea;
  --color-gastro-bg-card: #fff1d8;
  --color-gastro-white-warm: #fffbf3;

  --font-sans: var(--font-agrandir), sans-serif;
  --font-heading: "Inter", sans-serif;
}

:root {
  --background: var(--color-gastro-bg-main);
  --foreground: var(--color-gastro-text-main);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-gastro-bg-main);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gastro-wine-main);
  border-radius: 10px;
  border: 3px solid var(--color-gastro-bg-main);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gastro-wine-sec);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

.subtitle {
  font-family: var(--font-spirit), "New Spirit Condensed", sans-serif;
}
